@font-face {
    font-family: MyWebFont;
    font-style: normal;
    font-weight: 500;
    src: url(../assets/fonts/MuseoSansCyrl-500.ttf);
}

@font-face {
    font-family: MyWebFont;
    font-style: italic;
    font-weight: 500;
    src: url(../assets/fonts/MuseoSansCyrl-500Italic.ttf);
}

@font-face {
    font-family: MyWebFont;
    font-style: normal;
    font-weight: 700;
    src: url(../assets/fonts/MuseoSansCyrl-700.ttf);
}

@font-face {
    font-family: MyWebFont;
    font-style: italic;
    font-weight: 700;
    src: url(../assets/fonts/MuseoSansCyrl-700Italic.ttf);
}

@font-face {
    font-family: MyWebFont;
    font-style: normal;
    font-weight: 900;
    src: url(../assets/fonts/MuseoSansCyrl-900.ttf);
}

@font-face {
    font-family: MyWebFont;
    font-style: italic;
    font-weight: 900;
    src: url(../assets/fonts/MuseoSansCyrl-900Italic.ttf);
}

#myform {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 180px;
}

#myform > h2 {
    text-align: center;
}

#myform > p {
    line-height: 1.4;
    font-size: 1.1em;
}

#alert-info {
    width: 25%;
    color: #ff9191 !important;
    background: rgba(0, 48, 205, 0.62) !important;
    font-size: 1.3em;
}

ul {
    border-radius: 10px;
    background: rgba(0, 1, 168, 0.26);
    box-shadow: 0px 0px 20px rgb(0, 75, 151);
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

h3 {
    color: #ffd47a;
}

h2 {
    color: #e1e1e1 !important;
}

.ant-form-item-required, .ant-form-item-label {
    color: #e1e1e1 !important;
    font-size: 1.1em !important;
}

.ant-form-item {
    color: black !important;
}

#Input, #email {
    font-family: MyWebFont, sans-serif !important;
}

.ant-btn-primary {
    font-size: 1.1em;
}
