<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>госуслуги пон типа</title>
    <link rel="stylesheet" href="../static/css/styles_2.css"/>
</head>
<body>
<nav>
    <div id="nav">
        <div class="part-nav" id="part1">
            <a href="https://www.gosuslugi.ru/" target="_blank"><img src="https://cspn.nso.ru/sites/cspn.nso.ru/wodby_files/files/page_605/gosuslugi_1.jpg" id="logo"></a>
            <select name="for-who" id="for-who-select">
              <option value="citizens">Гражданам</option>
              <option value="organisations">Организациям</option>
              <option value="ips">Предпринимателям</option>
            </select>
        </div>
        <div class="part-nav" id="part2">
            <a href="#">Услуги</a>
            <a href="https://www.gosuslugi.ru/landing/long-term_savings#:~:text=%D0%A3%D1%81%D0%BB%D1%83%D0%B3%D0%B8-,%D0%94%D0%BE%D0%BA%D1%83%D0%BC%D0%B5%D0%BD%D1%82%D1%8B,-%D0%97%D0%B0%D1%8F%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F" target="_blank">Документы</a>
            <a href="https://lk.gosuslugi.ru/orders" target="_blank">Заявления</a>
            <a href="https://www.gosuslugi.ru/pay" target="_blank">Платежи</a>
            <a href="https://www.gosuslugi.ru/help" target="_blank">Помощь</a>
            <a href="https://www.gosuslugi.ru/" target="_blank"><img src="../static/img/search.svg" id="loopa"></a>
            <a class="btn" href="#">Войти</a>
        </div>
    </div>
</nav>

<div id="text-and-pic">
    <div id="text-box">
        <h1>Программа долгосрочных сбережений</h1>
        <p>Узнайте, как стать участником программы и копить средства в том числе с помощью государства</p>
    </div>
    <img src="../static/img/coins.svg" id="coins">
</div>

<div id="about">
    <h1 class="title-pos">
        Что такое программа долгосрочных сбережений
    </h1>
    <div class="text-about" id="first">
        С 1 января 2024 г. в России работает программа долгосрочных сбережений. С её помощью вы можете накопить средства, чтобы в будущем, например:
        <ul class="tire">
            <li>потратить их на обучение детей</li>
            <li>внести первый взнос на покупку жилья</li>
            <li>использовать их как дополнительный доход к будущей пенсии</li>
        </ul>
        <br>
        Негосударственный пенсионный фонд (НПФ), который вы выберете, будет инвестировать ваши средства, чтобы приумножить сбережения. При выполнении определённых условий вы получите от государства прибавку к своим сбережениям
    </div>
</div>

<div id="description">
    <h1 class="title-pos">
        Особенности программы
    </h1>
    <div id="blocks-with-text">
        <div class="text-about two-blocks">
            <h3>Из чего формируются сбережения</h3>
            <ul class="dotes">
                <li>Из личных взносов участника программы</li>
                <li>Из взносов работодателя</li>
                <li>Из средств софинансирования государством</li>
                <li>Из пенсионных накоплений гражданина</li>
            </ul>
        </div>
        <div class="text-about two-blocks">
            <h3>Когда производятся выплаты</h3>
            <ul class="dotes">
                <li>По истечении 15 лет с даты заключения договора</li>
                <li>По достижении возраста 55 лет — женщинам, 60 лет — мужчинам</li>
                <li>Досрочно — в особых жизненных ситуациях</li>
            </ul>
        </div>
    </div>
    <div class="text-about">
        <h3>Виды выплаты</h3>
        <ul class="dotes">
            <li>Периодические выплаты:</li>
            <ul class="tire">
                <li>пожизненная</li>
                <li>на срок от 10 лет</li>
                <li>иной срок по договорённости с НПФ</li>
            </ul>
            <li>Единовременная выплата — по истечении 15 лет с даты заключения договора</li>
        </ul>
    </div>
    <div class="text-about" id="blue-back">
        Пенсионные накопления — это средства накопительной пенсии граждан, которые официально работали в 2002—2013 годах и за которых работодатель платил обязательные страховые взносы. С 2014 года пенсионные накопления формируются за счёт:
        <ul class="tire">
            <li>добровольных взносов граждан</li>
            <li>дополнительных добровольных взносов работодателя</li>
            <li>материнского капитала</li>
            <li>инвестиционного дохода</li>
        </ul>
        В зависимости от вашего выбора пенсионные накопления формируются в НПФ или в Социальном фонде (СФР)
    </div>
</div>

<div id="about">
    <h1 class="title-pos">
        Преимущества программы
    </h1>
    <div class="text-about">
        <h3>Государственная поддержка</h3>
        Государственная поддержка предусматривает софинансирование взносов вкладчиков — физических лиц по договорам долгосрочных сбережений
        <div id="blue-back" style="margin-top: 1em; margin-bottom: 1em; padding-left: 1em; height: 3em; display: flex; flex-direction: row; align-items: center; border-radius: 10px;">
            Исключение — единовременный взнос, когда гражданин перевёл в программу пенсионные накопления
        </div>
        Максимальный размер софинансирования для всех вкладчиков одинаков — 36 000 ₽. При этом его коэффициент зависит от вашего среднемесячного дохода

        <h3>Как определяется размер софинансирования</h3>
        <ul class="dotes">
            <li>При среднемесячном доходе до 80 000 ₽ включительно размер софинансирования будет равен размеру оплаченных вами взносов</li>
            <li>При среднемесячном доходе 80 000,01—150 000 ₽ размер софинансирования составит половину оплаченных вами взносов</li>
            <li>При среднемесячном доходе от 150 000,01 ₽ размер софинансирования составит четверть оплаченных вами взносов</li>
        </ul>
    </div>
    <div class="text-about">
        <h3>Налоговый вычет</h3>
        При оплате в год взносов на общую сумму до 400 тыс. ₽ вы можете получить налоговый вычет:
        <ul class="tire">
            <li>в размере 13% — максимум 52 тыс. ₽ ежегодно при доходе до 5 млн ₽ в год</li>
            <li>в размере 15% — максимум 60 тыс. ₽ ежегодно при доходе более 5 млн ₽ в год</li>
        </ul>
    </div>
    <div class="text-about">
        <h3>Гарантирование</h3>
        Государство гарантирует сохранность внесённых вами средств и дохода от их инвестирования на общую сумму до 2,8 млн ₽, а также сохранность переведённых в программу пенсионных накоплений и суммы государственного софинансирования
    </div>
</div>

<div id="description">
    <h1 class="title-pos">
        Как вступить в программу
    </h1>
    <div class="text-about">
        Чтобы вступить в программу, нужно заключить договор с её оператором — НПФ
        <h3>Как это сделать</h3>
        <ol>
            <li>Выберите НПФ из списка операторов программы:</li>
            <ul class="tire">
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
                <li class="companies">Абоба</li>
            </ul>
            <li>Заключите договор с выбранным НПФ:</li>
            <ul class="tire">
                <li>на сайте НПФ</li>
                <li>при личном обращении в НПФ</li>
            </ul>
        </ol>
        При желании вы можете перевести пенсионные накопления в программу единовременным взносом
        <div id="blue-back" style="margin-top: 1em; margin-bottom: 1em; padding-left: 1em; min-height: 5em; display: flex; flex-direction: row; align-items: center; border-radius: 10px;">
            Для заключения договора по программе перевод пенсионных накоплений в выбранный НПФ необязателен. Вы можете оставить пенсионные накопления в том фонде, где они хранятся
        </div>
    </div>
</div>

<div id="about">
    <h1 class="title-pos">
        Как внести единовременный взнос
    </h1>
    <div class="text-about">
        <p>Если решите перевести пенсионные накопления в выбранный НПФ, нужно подать в НПФ заявление о единовременном взносе, которое предусматривает перевод пенсионных накоплений в программу</p>
        <p>Узнать размер сформированных в вашу пользу пенсионных накоплений можно <a href="https://www.gosuslugi.ru/help/faq/funded_pension/2136" style="text-decoration: none;">на Госуслугах</a></p>
        <p>Если на формирование пенсионных накоплений были направлены средства материнского капитала, при переводе пенсионных накоплений в программу в качестве единовременного взноса маткапитал вернётся в СФР для последующего использования <a href="https://www.gosuslugi.ru/help/faq/maternal_capital/2581" style="text-decoration: none;">на иные цели</a></p>
        <p>Если пенсионные накопления находятся в другом НПФ или СФР, сначала их нужно перевести в НПФ, с которым вы заключили или планируете заключить договор по программе. Только после этого можно подать заявление о единовременном взносе</p>
        <p>Чтобы перевести пенсионные накопления в выбранный НПФ, нужно подать заявление о срочном или досрочном переходе. Это можно сделать лично в СФР</p>
        <h3>Срочный переход</h3>
        <ul class="dotes">
            <li>Состоится в году, следующем за годом, в котором истекает 5 лет после подачи заявления о переходе. Например, при подаче заявления в 2024 году пенсионные накопления будут переведены в выбранный НПФ в 2030 году</li>
            <li>Все пенсионные накопления, включая инвестиционный доход, передаются новому страховщику в полном объёме</li>
        </ul>
        <h3>Досрочный переход</h3>
        <ul class="dotes">
            <li>Производится на следующий год после подачи заявления. Например, при подаче заявления на досрочный переход в 2024 году — до 1 декабря — пенсионные накопления будут переведены в выбранный НПФ в 2025 году</li>
            <li>Часть инвестиционного дохода может быть потеряна. Избежать этого можно, подав заявление о досрочном переходе в год фиксинга. Фиксинг — это установление гарантированного размера пенсионных накоплений на пенсионном счёте в НПФ или на индивидуальном лицевом счёте гражданина в СФР каждые 5 лет после начала их формирования в выбранном фонде</li>
            <li>Год ближайшего фиксинга можно узнать в НПФ или СФР, где формируются пенсионные накопления. Например, если предыдущий фиксинг был в 2019 году, то в 2024 году можно подавать заявление о досрочном переходе — инвестиционный доход не будет потерян</li>
        </ul>
    </div>
</div>

ГОЙДА
</body>
</html>