<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>
<body id="base-style">
<h1 class="h1-style">KE stavit dva!</h1>
<div>
    <ul>
        <li>Добрый вечер</li>
        <li>Жители славного города</li>
        <li>ЛМШ-10!</li>
    </ul>
    <p>Bootstrap is a powerful, feature-packed frontend toolkit. Build anything—from prototype to production—in minutes</p>
    <p>Get started by including Bootstrap’s production-ready CSS and JavaScript via CDN without the need for any build steps. See it in practice with this Bootstrap CodePen demo.</p>
    <a href="#">None link</a><br><br>
    <a href="https://youtube.com" target="_blank">YouTube</a>
    <p>Формула, выражающая эквивалентность массы и энергии <var>E = mc<sup>2</sup></var>, где <var>E</var> — энергия объекта, <var>m</var> — его масса, <var>c</var> — скорость света в вакууме, равная 299 792 458 м/с.</p>
</div>
<div class="about">
    Описание  Описание  Описание  Описание  Описание  Описание  Описание  Описание  Описание  Описание  Описание  Описание  Описание
</div>
</body>
</html>